:root {
  --color-text-primary: #003;
  --color-background-primary: #f9fafb;
  --color-border-primary: #ccc;
  --color-link-primary: #3b82f6;
  --color-contribution-level-1: #feebeb;
  --color-contribution-level-2: #fc8281;
  --color-contribution-level-3: #c53130;
  --color-contribution-level-4: #daeeed;
  --color-contribution-level-5: #6dbeb7;
  --color-button-primary-text: #f9fafb;
  --color-button-primary-background: #0a7c70;
  --color-button-primary-hover-background: #0e9a8a;
}

html {
  font-size: 100%;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-family:
    Roboto,
    "Helvetica Neue",
    "Noto Sans JP",
    "Hiragino Kaku Gothic ProN",
    Meiryo,
    sans-serif;
}
body {
  padding: 0 1rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

h2 {
  font-size: 1.25rem;
  margin-top: 0;
}

h3 {
  font-size: 1rem;
  margin-top: 0;
}

ul {
  padding: 0 0 0 1.75rem;
}

label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  margin: 0 0 0.25rem;
}

main {
  padding: 0;
}

main * + * {
  margin: 1.5rem 0 0;
}

input[type="text"] {
  display: block;
  width: 100%;
  padding: 0.625rem;
  background-color: var(--color-background-primary);
  border: 2px solid var(--color-border-primary);
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
a {
  color: var(--color-link-primary);
  text-decoration: underline;
}
button {
  padding: 0.625rem 1.25rem;
  margin: 0 0.75rem 0.25rem 0;
  color: var(--color-button-primary-text);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  background-color: var(--color-button-primary-background);
  border: 0;
  border-radius: 0.5rem;
}

button:hover {
  background-color: var(--color-button-primary-hover-background);
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  font-size: 1rem;
  font-weight: 700;
}

.no-margin-top {
  margin-top: 0.5rem;
}

.c-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem 0;
}

.c-header-title__icon {
  margin-right: 0.5rem;
  text-decoration: none;
}

.c-header-title__link {
  color: var(--color-text-primary);
  text-decoration: none;
}

.c-main-content__loading-icon {
  display: inline-block;
  vertical-align: middle;
  color: #666;
  line-height: 1;
  width: 1rem;
  height: 1rem;
  border: 0.12rem solid currentColor;
  border-top-color: rgba(102, 102, 102, 0.3);
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 1s linear infinite;
}

.c-header-list {
  display: flex;
  gap: 0 0.5rem;
  margin-top: auto;
  margin-left: auto;
}

.c-header-list li {
  list-style: none;
  margin-top: 0;
}

.c-preference-label {
  display: block;
}

.c-repos-list {
  padding: 0;
  margin-top: 0;
}

.c-repos-list__item {
  list-style: none;
  margin-top: 0.5rem;
}

.c-repos-list__item-avator-icon {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
}

.c-repos-list__item input {
  margin-top: 0.5rem;
}

.c-prs-list {
  list-style: none;
  padding: 0;
}

.c-prs-label {
  font-weight: 800;
}

.c-prs-list____item-avator-icon {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
}

.c-home-link {
  display: block;
  margin-top: 1.5rem;
}

.c-sticky-bottom-menu {
  background-color: var(--color-background-primary);
  bottom: 0;
  padding: 0.75rem 0;
  position: sticky;
}

.js-hidden {
  display: none;
}

.js-save-message {
  font-size: 0.875rem;
  color: var(--color-button-primary-background);
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-primary: #f9fafb;
    --color-background-primary: #151b23;
    --color-border-primary: #9ca3af;
    --color-link-primary: #58a6ff;
    --color-contribution-level-1: #4d2525;
    --color-contribution-level-2: #f88379;
    --color-contribution-level-3: #e55353;
    --color-contribution-level-4: #1e4945;
    --color-contribution-level-5: #53b8ae;
    --color-button-primary-text: #f9fafb;
    --color-button-primary-background: #1a7469;
    --color-button-primary-hover-background: #208c80;
  }
  .c-main-content__loading-icon {
    color: #eee;
    border-top-color: rgba(238, 238, 238, 0.3);
  }
}
